# Virtual Environment
.venv/
venv/
ENV/
backend/.venv/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# OS specific files
.DS_Store
Thumbs.db

docs/